.kf-card-top {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -20px;

    .fa {
        padding: 3rem;
        font-size: 2rem;
        color: #fff;
        text-align: left;
        margin-right: 1rem;
        border-radius: 3px;
        background: #868e96;
    }

    .kf-card-data {
        margin-top: 2rem;
        text-align: right;
    }

    .kf-small.fa {
        padding: 2rem;
        font-size: 2rem;
        color: #fff;
        text-align: left;
        margin-right: 1rem;
        border-radius: 3px;
        background: #868e96;
    }
}
