<div class="row">
  <div class="col">
    <div class="row">
      <div class="col d-flex">
        Recent Rooms
        <button
          (click)="createRoomModalDialog.open()"
          class="btn btn-success ml-auto"
        >
          Create Room
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="list-group mt-2">
          <li
            *ngFor="let room of rooms"
            class="list-group-item d-flex justify-content-between align-items-center mb-1"
          >
            <a [routerLink]="['rooms', room?.id]">{{ room?.name }}</a>
            <span class="">
              <button
                (click)="open(room)"
                type="button"
                class="btn btn-outline-primary ml-1"
              >
                <i class="fa fa-eye"></i>
              </button>
              <button
                (click)="openToEdit(room)"
                type="button"
                class="btn btn-outline-primary ml-1"
              >
                <i class="fa fa-edit"></i>
              </button>
              <button
                (click)="delete(room)"
                type="button"
                class="btn btn-outline-primary ml-1"
              >
                <i class="fa fa-eraser"></i>
              </button>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-modal-dialog
  #createRoomModalDialog
  [modalTitle]="'Create Room'"
  [modalControlButtons]="createRoomModalControlButtons"
>
  <form [formGroup]="roomFormGroup">
    <div class="form-group has-success">
      <label class="form-control-label" for="roomName">Room Name</label>
      <input
        formControlName="name"
        placeholder="Name"
        type="text"
        class="form-control"
        id="roomName"
      />
      <div class="valid-feedback">Success! You've done it.</div>
    </div>
    <div class="form-group has-success">
      <label class="form-control-label" for="roomDetails">Room Details</label>
      <input
        formControlName="details"
        placeholder="Details"
        type="text"
        value="correct value"
        class="form-control"
        id="roomDetails"
      />
      <div class="valid-feedback">Success! You've done it.</div>
    </div>
  </form>
</app-modal-dialog>
