<div class="card border-bottom-0">
  <div class="card-body bg-dark">
    <img
      class="rounded-circle img-thumbnail mx-auto d-block mt-2"
      style="width: 100%;"
      src="assets/images/user_male.png"
      alt="Card image"
    />
    <h5 class="card-title text-center mt-3 text-light">
      {{ welcomeText }}
    </h5>
  </div>
  <div class="card-body d-flex">
    <a href="#" class="card-link text-dark">
      <i class="fa fa-user-circle mr-2"></i>
      Profile
    </a>
    <a
      href="javascript: void(0)"
      (click)="logout()"
      class="card-link ml-auto text-dark"
    >
      Logout
      <i class="fa fa-sign-out-alt ml-2"></i>
    </a>
  </div>
</div>
<div class="accordion" id="menuAccordion">
  <div class="card" *ngFor="let menuItem of menuItems; let i = index">
    <div class="card-header p-1" [attr.id]="'heading_' + menuItem?.id">
      <h2 class="mb-0">
        <button
          class="d-flex btn btn-block text-left"
          type="button"
          data-toggle="collapse"
          [attr.data-target]="'#collapse_' + menuItem?.id"
          [attr.aria-expanded]="i === 0 ? true : false"
          [attr.aria-controls]="'collapse_' + menuItem?.id"
        >
          <span>
            <i class="mr-2" [ngClass]="menuItem?.iconValue"></i>
            {{ menuItem?.displayText }}
          </span>
          <span class="ml-auto">
            <i class="fa fa-angle-down"></i>
          </span>
        </button>
      </h2>
    </div>
    <div
      [attr.id]="'collapse_' + menuItem?.id"
      class="collapse"
      [ngClass]="{ show: i === 0 }"
      [attr.aria-labelledby]="'heading_' + menuItem?.id"
      data-parent="#menuAccordion"
    >
      <div class="card-body p-0" style="margin-top: 1px;">
        <div class="list-group list-group-flush">
          <a
            *ngFor="let subMenu of menuItem?.children"
            [routerLink]="subMenu?.navigationLink"
            class="list-group-item list-group-item-action bg-light"
          >
            <span class="mr-2 ml-4">
              <i [ngClass]="subMenu?.iconValue"></i>
            </span>
            <span>
              {{ subMenu?.displayText }}
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
