@import url("https://fonts.googleapis.com/css?family=Monoton|Rye|UnifrakturMaguntia");

@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~bootswatch/dist/cosmo/_variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cosmo/_bootswatch";

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
